.qd-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
    background-position: center center !important;
    background-size: 50px auto !important;
    background-repeat: no-repeat !important;
}

.qd-icon-wac-testt {
    background-image: url("../widget-icons/icons/wac-testt.png") !important;
}
.qd-icon-wac-sssssssssss {
    background-image: url("../widget-icons/icons/wac-sssssssssss.png") !important;
}
.qd-icon-wac-jsihnu {
    background-image: url("../widget-icons/icons/wac-jsihnu.png") !important;
}