.qd-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
    background-position: center center !important;
    background-size: 50px auto !important;
    background-repeat: no-repeat !important;
}

.qd-icon-ess-testt {
    background-image: url("../widget-icons/icons/ess-testt.png") !important;
}
.qd-icon-ess-sssssssssss {
    background-image: url("../widget-icons/icons/ess-sssssssssss.png") !important;
}
.qd-icon-ess-jsihnu {
    background-image: url("../widget-icons/icons/ess-jsihnu.png") !important;
}
.qd-icon-ess-test {
    background-image: url("../widget-icons/icons/ess-test.png") !important;
}
.qd-icon-ess-test {
    background-image: url("../widget-icons/icons/ess-test.png") !important;
}
.qd-icon-ess-test {
    background-image: url("../widget-icons/icons/ess-test.png") !important;
}
.qd-icon-ess-test {
    background-image: url("../widget-icons/icons/ess-test.png") !important;
}
.qd-icon-ess-eeee {
    background-image: url("../widget-icons/icons/ess-eeee.png") !important;
}
.qd-icon-ess-test {
    background-image: url("../widget-icons/icons/ess-test.png") !important;
}
.qd-icon-ess-jishnu {
    background-image: url("../widget-icons/icons/ess-jishnu.png") !important;
}