.qd-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
    background-position: center center !important;
    background-size: 50px auto !important;
    background-repeat: no-repeat !important;
}
 
.qd-icon-wac-test {
    background-image: url("../widget-icons/icons/wac-test.png") !important;
}